openai
groq
google-generativeai
anthropic
speechrecognition
sounddevice
soundfile
numpy
openai-whisper
python-dotenv
pyautogui
duckduckgo-search
PyQt5
PyQtWebEngine
filelock
edge-tts
pygame
elevenlabs
sentence-transformers
chromadb
fastapi
uvicorn
websockets
langgraph
yfinance
pyflakes
paho-mqtt
pywin32
aiosqlite
pytest
cryptography
pyngrok
qrcode
twilio
